<div [hidden]="submitted">
    <h2>Add a new hero</h2>
    <!-- Took me a while to find out the right way to do pristine reset forms -->
    <form #heroForm="ngForm" (ngSubmit)="onSubmit(newHero);">
        <div class="form-group">
            <label for="name">Hero name:</label>
            <input type="text" class="form-control" id="name"
                placeholder="Enter your hero's name"
                required
                [(ngModel)]="newHero.name" name="name"
                #name="ngModel"
            /><!-- The `#name="ngModel"` is crucial for pristine form when `required` is set -->
            <br>{{name.className}}
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo"
                [(ngModel)]="newHero.alterEgo" name="alterEgo"/>
        </div>
        <div class="form-group">
            <label for="power">Hero Super-Power</label>
            <select class="form-control" id="power"
                required
                [(ngModel)]="newHero.power" name="power">
                <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Save hero</button>
        <button type="button" class="btn btn-default" (click)="createEmptyHero(); heroForm.reset()">New Hero</button>
    </form>
</div>

<!-- TODO: Find out how this could be pulled in a subcomponent while having
data bindings working. `hero` as a prop is clear, but what about `submitted`, that
will be changed? The 2 way-databinding probably could work, but this
feels awkward at thinking, that sometimes we might want to jump over 2
hierarchy levels of components, then a handler would make it clearer (react-ish) -->
<div [hidden]="!submitted">
    <h2>You submitted the following new hero:</h2>
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9 pull-left">{{newHero.name}}</div>
    </div>
    <div class="row" [hidden]="!newHero.alterEgo">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left">{{newHero.alterEgo}}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9 pull-left">{{newHero.power}}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
